// ========================================
// variables
// ========================================

$default-font: 'Lato', sans-serif;

$white: #fff;
$gray-100: #f8f9f9;
$gray-200: #f2f3f4;
$gray-300: #e5e7e9;
$black: #000;

$transition-primary: 300ms ease-in-out;
