// ========================================
// place-holder
// ========================================

.placeholder {
	height: 100vh;
	background-color: $gray-100;
	@include flex-c-c;
	padding: 0 20px;
}

.placeholder--darker {
	background-color: $gray-200;
}
