// ========================================
// scrollbox
// ========================================

.scrollbox {
	position: relative;
	display: flex;
	justify-content: center;
	background-color: $gray-300;
}

.scrollbox__text {
	font-size: 318px;
	text-align: center;
	color: $white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-46.5%, -50%);
	z-index: -1;
}

.scrollbox__img-wrap {
	position: sticky;
	top: 14.5vh;
	align-self: flex-start;
}

.scrollbox__img-holder {
	width: 100%;
	display: flex;
	justify-content: center;
	height: 250vh;
	padding: 14.5vh 0;
}

.scrollbox__img {
	position: relative;
	height: 71vh;
	aspect-ratio: 2560 / 1440;
	max-width: 1364px;
	transform: translateX(-56px);
}

.scrollbox__img-el {
	position: absolute;
	height: 100%;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
