// ========================================
// typography
// ========================================

.h1 {
	font-size: 68px;
	text-align: center;

	@include media-breakpoint-down(lg) {
		font-size: 36px;
	}
}
